:root {
  --desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --clr-bue-700: hsl(237, 12%, 33%);
  --clr-blue-500: hsl(240, 6%, 50%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);

  --base-fs: 0.75rem;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

// for js--

.accordion-collapse {
  display: none;
  overflow: hidden;
}

.accordion-collapse {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-out;
}

.active {
  font-weight: 700;
}

.active::after {
  background-image: url("/images/icon-arrow-down.svg");
  transform: rotateX(180deg);
}

// typography and color--
.container {
  background-color: hsl(0, 0%, 100%);
}

.accordion {
  font-size: 0.75rem;
}

h1,
h3 {
  color: var(--desaturated-blue);
}

h3 {
  font-weight: 400;
}

// buttons--
.accordion-header {
  border: none;
  background: hsl(0, 0%, 100%);

  &::after {
    content: "";
    display: block;
    background-image: url("/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    height: 0.5rem;
    width: 0.625rem;
  }
}

// media queries for font size
@media (min-width: 48.75rem) {
  .accordion {
    font-size: 0.875rem;
  }
}
